/* remove the default styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling for more info in the header*/
.form1 input[type=text] {
    padding: 1rem;
    font-size: 1.0625rem;
    float: right;
    width: 80%;
}
.form1 button {
    margin-bottom: 1rem;
    float: right;
    width: 20%;
    border-left: none;
    padding: 1rem;
    color: #41c4f6;
    font-size: 1.0625rem;
    cursor: pointer;

}
.form1 button:hover {
    background-color: #41c4f6;
    color:#000;
}
.form1::after {
    content: "";
    clear: both;
    display: table;
}
.form2 {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    line-height: 50px;
    color: #17a0cd;
}
.navbar {
    margin-left: 4.375rem;
    margin-top: 1.875rem;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12.5rem;
}

/* style the navigation menu */
.mobilenav {
    display: inline-block;
    position: relative;
}

/* hide the links inside the navigation menu (exept for logo/home )*/
.mobilenav #links {
    display: none;
    background-color: #17a0cd;
}

/* style the navigation menu links  */
.mobilenav a { 
    color:#000;
    padding: 0.85rem 1rem;
    font-size: 20px;
    display:block;
}

/* style the hurmburger menu */
.mobilenav a.icon {
    background-color: #000;
    color: white;
    display: block;
    position: absolute;
    right:0 ;
    top:0 ;
}

/* add color on mouse hover */
.mobilenav a:hover {
    background-color:#41c4f6;
    color: white;
}

/* styling the child"navbar"for the header  */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: beige;
    position: fixed;
    width: 100%;
    text-transform: capitalize;
}

/* styling for the child "nav link" */
.menu a {
    display: flex;
    color: grey;
    padding: 1.25rem 1.25rem;
}

/* styling for the navlink at hover */
.menu a:hover {
    background-color: lightgray;
    color: black;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    padding: 1.25rem 1rem;
    z-index: 1;

}

.dropdown-content:hover {
    background-color: coral;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(0, 50, 100, 30);
    padding: 3.125rem;
}


/* remove the underline in all the link */
a:link {
    text-decoration: none;
    
}
a {
    color:black;
}
a:hover {
    color: red;
}


/* styling for brain.html */
/* to make the <p>1 have same styling */
.para1 {
    margin-top: 1.25rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    text-transform: lowercase;
    color: black;
}

.parag1 {
    text-transform: lowercase;
    font-style: italic;
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    color:#05394e;
    font-size: 1.25rem;
}

/* to style the title */
.hed1 {
    text-align: center;
    text-transform: uppercase;
    padding: 6.25rem;
    text-decoration: underline;
}

.hedi1 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 3.75rem;
    color:#05394e;
    text-align: center;
    margin-top: 6.25rem;
}
.hedin1 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 3.125rem;
    color:white;
    text-align: center;
    margin-top: 6.25rem;
}

/* to style the subtopic */
.hed3 {
    text-transform: capitalize;
    padding: 0.625rem;
    /*styling for hed4  */
}

/* styling for hed4 */
.hed4 {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    margin-top: 1.25rem;
}
.hedi4 {
    padding-left: 3.125rem;
    padding: right 3.125em; 
    font-style: italic;
    margin-left: 3.125rem;
    margin-top: 4.375rem;
    font-size: 1.25rem;
    color: #41c4f6;
}

.fig {
    text-align: center;
    text-transform: capitalize;
}
.figi1 {
    color: #000;
    text-align: center;
    font-style: italic;
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

.brain2 {
    display: flex;
    width: 400px;
    height: 400px;
    margin-top: 30px;
}
.feature-content-img {
    display: flex;
    width: 100%;
    height: 70%;
    padding-left: 50px;

}
.feature-content-img:hover {
    transform: scale(1.2);
}

/* to make the div container to be flex  */
.div1 {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: flex-start;
}
.divi1 {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: flex-start;
}

.ul1 {
    padding-left: 5rem;
    padding-right: 3.125rem;
}
/* by conecting the sec2 and sec3 to put it in the same range */
.figure1 {
    display:flex;
}
.overall {
    background-color: rgba(0, 100, 50, 20)
}

/* styling for section1 */
.sec1 {
    background-color: rgba(0, 100, 100, 20);
}

/* styling for section 3 */
.sec3 {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;

}

/* styling for section4 */
.sec4 {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.25rem;
}

.main1 {
  background-image:url('./brainB.jpg');
    background-size: cover;
    background-attachment: scroll;
    height: 900px;
    border: solid 20px #000;
    margin: 100px;

}
.main1:hover {
    transform: rotateY(200deg);
}

.main2 {
    background-color: seashell;
    color:#17a0cd;
    border: solid 1px  #015a7e;
    padding: 1.875rem;
    font-size: 1.875rem;
    text-align: center;
    border-radius: 12.5rem;
    margin: 3.125rem;

}
.main4 {
    margin-top: 100px;
    margin-bottom: 50px;
}
.main4-card {
    box-shadow: 100px;
    transition: 0.2s;
    width: 30%;
    display: block;
    float: left;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.main4-img {
    width: 100%;
    height: 70%;
}

.main4-container {
    padding: 20px 20px;
    background-color: #17a0cd;
    font-size: 30px;
    font-style: italic;
}
.main4-card:hover {
    box-shadow:10px 16px 32px 10px;
    transform: scale(0.9, 0.9);
}
.main4-overall {

    width: 120%;
    border: solid 2px black;
    display: flex;
    margin: 0 auto;
    background-color: #41c4f6;
    margin-top: 50px;

}
.main4-overall > .main4-card {
    display: inline-block;
}

.main5 {
    margin-top: 4.375rem;

}
.main-main5 {
    width: 120%;
    margin-top:80px;
    background-color:#41c4f6;
    border:solid 0.1875rem #17a0cd ;
}
.main6 {
    background-color:#000;
}
.social-icons{
    background-color: #41c4f6;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    

}
.footer {
    background-color: #015a7e;
    text-align: center;
}